/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 995px;
  backdrop-filter: blur(5px);
  padding: 2.5rem;
  background: #8f8f8f url('../img/background.png') no-repeat center top / cover;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  /* Enable when you are done with styling */
  /* position: absolute; */
  /* padding-bottom: 307px; */
}

.logo-title {
  display: flex;
  flex-direction: row;
  color: #000000;
  justify-content: center;
}

.logo-title__welcome {
  font-size: 1.9rem;
  font-weight: 800;
  width: 50px;
  line-height: 20px;
}

.logo-title__logo {
  height: 3.7rem;
  position: relative;
  margin-right: 5px;
}

.logout__btn {
  position: absolute;
  align-content: center;
  left: 1320px;
  top: 20px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  background: none;
}

.logout__btn:hover,
.logout__btn:focus {
  outline: none;
  color: rgb(12, 12, 12);
  background: rgb(187, 187, 187);
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.2);
  transition: 0.8s ease;
}

.login {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* NOTE This creates the fade in/out anumation */
  opacity: 100;
  transition: all 1s;
}

.login__title {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: left;
  border-radius: 10rem;
  margin-left: 0.2rem;
  margin-top: 10px;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
  transition: 0.2s ease;
}

.login__input::placeholder {
  color: rgb(146, 146, 146);
}

.login__btn {
  border: none;
  background: rgb(221, 49, 49);
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 80px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(236, 70, 70);
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.2);
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);

  /* NOTE This creates the fade in/out anumation */
  opacity: 100;
  transition: all 1s;
  padding: 25px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.balance {
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__user {
  font-size: 14px;
}

.balance__label {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #ffffff;
}

.balance__value {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  background-color: rgba(78, 78, 78, 0.1);
  border-radius: 1rem;
  height: 320px;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(184, 184, 184);
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
  color: #ffffff;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
  color: #ffffff;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
}

/* OPERATIONS */

.operations-rows {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
  border: 1px solid rgb(54, 54, 54);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
/* 
.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
} 
*/

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.form {
  width: 220px;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
  margin-top: 10px;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: left;
  color: #ffffff;
}

.form__btn {
  border-radius: 0.7rem;
  font-size: 1.8rem;
  padding: 15px;
  border: 0px solid rgb(133, 133, 133);
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  background: rgb(221, 49, 49);
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 115, 115, 0.5);
}

.form__btn:hover,
.form__btn:focus {
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(236, 70, 70);
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.2);
}

.form__btn--loan {
  margin-top: 98px;
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
  color: #ffffff;
}

.timer {
  color: #ffffff;
  font-weight: 600;
}
